:root {
  /** colors */
  --color-black-150: #f1f2f3;
  --color-black-225: #d6d9dc;
  --color-black-300: #a7adb4;
  --color-black-400: #636b74;
  --color-black-500: #3b4045;
  --color-black-600: #0c0d0e;
  --color-orange-500: #e7700d;
  --color-orange-300: #f6b179;
  --color-blue-200: #d6e8fa;
  --color-blue-400: #1b75d0;

  /** border */
  --br-m: 6px;
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  font-size: 13px;
  color: var(--color-black-500);
}

.layout-container {
  border: var(--color-black-225) 1px solid; /** remove border */
}

html,
body,
#root,
.app-container,
.page-container {
  height: 100%;
}

.page-container {
  display: flex;
}

hr {
  border: var(--color-black-225) 0.5px solid;
  margin: 1.5rem 0;
}

h1 {
  color: var(--color-black-500);
  font-weight: normal;
  margin-bottom: 8px;
}

#top-nav {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  border-top: var(--color-orange-500) 3px solid;
  border-right: none;
  border-left: none;
  padding: 0.25rem 0.5rem;
}

#top-nav #top-nav-logo {
  max-width: 150px;
  transform: translateY(7px); /** to deal with off-balance logo */
}

#left-nav-container {
  border-top: none;
  border-bottom: none;
  border-left: none;
  position: relative;
  max-width: 200px;
  min-width: 150px;
  height: 100%;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  color: var(--color-black-500);
}

#left-nav-links-container a {
  text-decoration: none;
  color: inherit;
  height: 100%;
}

#left-nav-links-container a:hover {
  color: var(--color-black-600);
}

.left-nav-link {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0.5rem;
  fill: var(--color-black-500);
}

.left-nav-link svg {
  width: 18px;
}

.left-nav-link:hover,
.left-nav-link.selected {
  background-color: var(--color-black-150);
  cursor: pointer;
  color: var(--color-black-600) !important;
  fill: var(--color-black-600);
}

.left-nav-link.selected {
  font-weight: bold;
  background-color: var(--color-black-225) !important;
}

#main-content-container {
  width: 100%;
  padding: 1rem;
  padding-top: 1.5rem;
  border: none;
}

.question {
  margin-bottom: 2rem;
}
.question-title-details-box {
  display: flex;
  gap: 1.25rem;
}

.question-detail-label {
  color: var(--color-black-400);
}

.question-detail-value {
  margin-left: 0.5rem;
}

.question-body {
  font-size: 15px;
}

.sos-button {
  padding: 10.4px; /* don't ask */
  border-radius: var(--br-m);
  border: none;
  background-color: var(--color-blue-400);
  color: #ffffff;
}

.answer-thread h2 {
  font-weight: normal;
  font-size: 19px;
}

/* Collapsable component*/
.collapsible-header {
  color: #ffffff;
  background-color: var(--color-orange-500);
  border: none;
  padding: 0.5rem 1rem;
  text-align: left;
  outline: none;
  font-size: 14px;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--br-m);
}

.collapsible-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

#ask-question-form {
  margin-top: 0.5rem;
}

#question-markdown-editor .editor-container {
  overflow-y: scroll;
}

#ask-question-form-editor {
  margin-bottom: 0.5rem;
}

.question-btf {
  padding-right: 1rem;
}

.question-footer {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}

.question-footer-controls {
  color: var(--color-black-400);
}

.question-footer-userinfo {
  padding: 0.5rem;
  border-radius: var(--br-m);
  background-color: var(--color-blue-200);
}

/* Adjustments for mobile devices */
@media (max-width: 768px) {
  .modal {
    width: 90%;
    max-width: 400px;
  }
}
