:root {
  /** colors */
  --color-black-150: #f1f2f3;
  --color-black-225: #d6d9dc;
  --color-black-300: #a7adb4;
  --color-black-400: #636b74;
  --color-black-500: #3b4045;
  --color-black-600: #0c0d0e;
  --color-orange-200: #fbdbc1;
  --color-orange-300: #f6b179;
  --color-orange-500: #e7700d;
  --color-blue-100: #edf5fd;
  --color-blue-200: #d6e8fa;
  --color-blue-400: #1b75d0;

  /** border */
  --br-m: 6px;
  --br-s: 3px;
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  font-size: 15px;
  color: var(--color-black-500);
}

a {
  color: var(--color-blue-400);
}

blockquote {
  border-left: 2px solid var(--color-black-300);
  padding-left: 1rem;
}

.layout-container {
  border: var(--color-black-225) 1px solid; /** remove border */
}

html,
body,
#root,
.app-container,
.page-container {
  height: 100%;
  width: 100%;
}

.page-container {
  display: flex;
}

hr {
  border: var(--color-black-225) 0.5px solid;
  margin: 1.5rem 0;
}

h1 {
  color: var(--color-black-500);
  font-weight: normal;
  margin-bottom: 8px;
}

#top-nav {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  border-top: var(--color-orange-500) 3px solid;
  border-right: none;
  border-left: none;
  padding: 0.25rem 0.5rem;
}

#top-nav #top-nav-logo {
  max-width: 150px;
  transform: translateY(7px); /** to deal with off-balance logo */
}

#left-nav-container {
  font-size: 13px;
  border-top: none;
  border-bottom: none;
  border-left: none;
  position: relative;
  max-width: 200px;
  min-width: 150px;
  height: 100%;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  color: var(--color-black-500);
}

#left-nav-links-container a {
  text-decoration: none;
  color: inherit;
  height: 100%;
}

#left-nav-links-container a:hover {
  color: var(--color-black-600);
}

.left-nav-link {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0.5rem;
  fill: var(--color-black-500);
}

.left-nav-link svg {
  width: 18px;
}

.left-nav-link:hover,
.left-nav-link.selected {
  background-color: var(--color-black-150);
  cursor: pointer;
  color: var(--color-black-600) !important;
  fill: var(--color-black-600);
}

.left-nav-link.selected {
  font-weight: bold;
  background-color: var(--color-black-225) !important;
}

#main-content-container {
  width: 100%;
  padding: 1rem;
  padding-top: 1.5rem;
  border: none;
}

.question {
  margin-bottom: 2rem;
}
.question-title-details-box {
  display: flex;
  gap: 1.25rem;
  font-size: 13px;
}

.question-detail-label {
  color: var(--color-black-400);
}

.question-detail-value {
  margin-left: 0.5rem;
}

.question-body {
  font-size: 15px;
}

.sos-button {
  padding: 10.4px; /* don't ask */
  border-radius: var(--br-m);
  border: none;
  background-color: var(--color-blue-400);
  color: #ffffff;
  cursor: pointer;
}

.answer-thread h2 {
  font-weight: normal;
  font-size: 19px;
}

.answer-thread ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Collapsable component*/
.collapsible-header {
  color: #ffffff;
  background-color: var(--color-orange-500);
  border: none;
  padding: 0.5rem 1rem;
  text-align: left;
  outline: none;
  font-size: 14px;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--br-m);
}

.collapsible-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

#ask-question-form {
  margin-top: 0.5rem;
}

#question-markdown-editor .editor-container {
  overflow-y: scroll;
}

#ask-question-form-editor {
  margin-bottom: 0.5rem;
}

.content-box {
  padding-right: 1rem;
}

.content-box-vote {
  display: flex;
  gap: 1rem;
}
.content-box-main {
  flex-grow: 1;
}

.content-box-body {
  line-height: 1.5rem;
}
.content-box-body p {
  margin-top: 0;
}

.content-box-footer {
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}

.content-box-footer-controls {
  color: var(--color-black-400);
}

.content-box-footer-userinfo {
  padding: 0.5rem;
  border-radius: var(--br-s);
  /* background-color: var(--color-blue-100); */
  min-width: 200px;
  line-height: 1.2rem;
}

.content-box-footer-userinfo-timestamp {
  font-size: 12px;
  color: var(--color-black-400);
}

.content-box-footer-userinfo-bottom {
  display: flex;
  gap: 0.25rem;
}

.content-box-footer-userinfo-username {
  color: var(--color-blue-400);
}

.content-box-footer-userinfo-right {
  display: flex;
  flex-direction: column;
}

.content-box-footer-userinfo-userstats {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--color-black-400);
  font-size: 12px;
}

.content-box-footer-userinfo-img {
  width: 32px;
}

.user-stat::before {
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 2 24 24"><circle cx="12" cy="12" r="10" fill="black"/></svg>')
    no-repeat;
  margin-right: 5px;
}

.user-stat.gold::before {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 2 24 24"><circle cx="12" cy="12" r="10" fill="gold"/></svg>');
}

.user-stat.silver::before {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 2 24 24"><circle cx="12" cy="12" r="10" fill="silver"/></svg>');
}

.user-stat.bronze::before {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 2 24 24"><circle cx="12" cy="12" r="10" fill="peru"/></svg>');
}
.vote-controls {
  display: flex;
  flex-direction: column;
}

.vote-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border-color: var(--color-black-225);
  box-shadow: none;
  border-style: solid;
  background-color: transparent;
  border-width: 1px;
}

.vote-button:hover {
  background-color: var(--color-orange-200);
  cursor: pointer;
}

.vote-button svg {
  width: 18px;
  fill: var(--color-black-600);
}

.vote-display {
  text-align: center;
  margin: 0.5rem 0;
  font-weight: bold;
  font-size: 19px;
  color: var(--color-black-600);
}

/* Mardown rendering tweaks */
pre.hljs {
  font-size: 13px;
  width: 100%;
  padding: 0.75rem;
  line-height: 1.1rem;
  max-height: 350px;
  overflow: auto;
}
pre code {
  background-color: transparent;
}
code {
  background-color: var(--color-black-225);
  padding: 1px 5px;
  border-radius: 3px;
  font-size: 12px;
}

/* Adjustments for mobile devices */
@media (max-width: 768px) {
  .modal {
    width: 90%;
    max-width: 400px;
  }
}
