:root {
  /** colors */
  --color-black-150: #f1f2f3;
  --color-black-225: #d6d9dc;
  --color-black-250: #c8ccd0;
  --color-black-300: #a7adb4;
  --color-black-400: #636b74;
  --color-black-500: #3b4045;
  --color-black-600: #0c0d0e;
  --color-orange-200: #fbdbc1;
  --color-orange-300: #f6b179;
  --color-orange-500: #e7700d;
  --color-blue-100: #edf5fd;
  --color-blue-200: #d6e8fa;
  --color-blue-400: #1b75d0;
  --color-green-400: #4b8d4c;

  /** border */
  --br-m: 6px;
  --br-s: 3px;

  /* widths */
  --max-w-main-content: 1000px;
  --max-w-left-nav: 150px;
  --max-w-page-content: calc(var(--max-w-left-nav) + var(--max-w-main-content));

  /* heights */
  --h-top-allotment: 1.5rem;
}

a {
  text-decoration: inherit;
  color: inherit;
  position: relative; /* Necessary for styling external link icon */
}

.content-box-body a,
.reply-content a {
  text-decoration: underline;
}

/* Style for external links - Add the icon after the link */
a[href^="http"]::after,
a[href^="https"]::after,
a[href^="//"]::after,
a[href^="www."]::after {
  content: url("/icons/el.svg");
  display: inline-block;
  vertical-align: text-top;
  height: 1em;
  width: 1em;
  margin-left: 0.2em;
}

/*disable external link icon in footer*/
#footer a::after,
#footer a::after,
#footer a[href^="//"]::after,
#footer a[href^="www."]::after {
  content: none !important;
}

html,
body,
#root {
  background-color: white;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: sans-serif;
  font-size: 14px;
  color: var(--color-black-500);
}

html,
body,
#root,
#main-content-container,
.content-box-body {
  box-sizing: border-box;
}

body {
  height: 100vh;
}

a {
  color: var(--color-blue-400);
}

/** shimmy! */
#left-nav a.ext-link:after {
  margin-left: -0.2rem;
  padding-bottom: 0;
}

blockquote {
  border-left: 2px solid var(--color-black-300);
  padding-left: 1rem;
}

.layout-container {
  border: var(--color-black-225) 1px solid; /** remove border */
}

body {
  min-height: 100%;
}

html,
body,
#root,
.app-container,
.page-container {
  width: 100%;
}

#default-loader {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -99;
}

.app-container {
  overflow-x: hidden;
  overflow-y: scroll;
}

.page-container {
  display: flex;
  margin-top: 56px;
  display: flex;
  justify-content: center;
  min-height: calc(
    100vh - 56px
  ); /* offset top nav so footer is immediately visible on scroll */
}

hr {
  border: var(--color-black-225) 0.5px solid;
  margin: 1.5rem 0;
  border-bottom: 0px;
}

h1 {
  color: var(--color-black-500);
  font-weight: normal;
  margin-bottom: 8px;
}

.info-page li {
  margin-bottom: 0.5rem;
}

#top-nav {
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  width: 100%;
  border-top: var(--color-orange-500) 3px solid;
  border-right: none;
  border-left: none;
  padding: 0.25rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-black-400);
  font-size: 12px;
  z-index: 999;
}

#top-nav-floating-content {
  max-width: var(--max-w-page-content);
  display: flex;
  flex: 1 1 auto;
  gap: 0.5rem;
}

.top-nav-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

#top-nav #top-nav-logo {
  width: 150px;
  transform: translateY(7px); /*to deal with off-balance logo */
  /* margin-left: 2rem; */
}

#top-nav-logo-sm {
  display: none;
}

.hamburger-nav {
  display: none;
}

#left-nav-container {
  font-size: 13px;
  border-top: none;
  border-bottom: none;
  border-left: none;
  max-width: var(--max-w-left-nav);
  min-width: 150px;
  min-height: 100%;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  color: var(--color-black-500);
}

#left-nav {
  position: fixed;
  top: calc(56px + var(----h-top-allotment));
  width: var(--max-w-left-nav);
}

#left-nav-links-container a {
  text-decoration: none;
  color: inherit;
  height: 100%;
}

#left-nav-links-container a:hover {
  color: var(--color-black-600);
}

.left-nav-link {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0.5rem;
  fill: var(--color-black-500);
}

.left-nav-link svg {
  width: 18px;
}

.left-nav-link:hover,
.left-nav-link.selected {
  cursor: pointer;
  color: var(--color-black-600) !important;
  fill: var(--color-black-600);
}

.left-nav-link.selected {
  font-weight: bold;
  background-color: var(--color-black-150) !important;
}

.left-nav-link-with-section-break {
  margin-top: 1rem;
}

#main-content-container {
  flex: 1;
  width: 100%;
  min-height: 100%;
  padding: 1.5rem;
  padding-top: var(--h-top-allotment);
  padding-bottom: 5rem;
  border: none;
  overflow-wrap: break-word;
  word-wrap: normal;
  word-break: normal;
  hyphens: auto;
  max-width: var(--max-w-main-content);
}

#footer {
  position: relative; /* overlay the left-nav on low-height display */
  width: 100%;
  background-color: var(--color-black-600);
  min-height: 300px;
  color: var(--color-black-250);
  display: flex;
  justify-content: center;
  font-size: 13px;
}

.footer-content {
  width: 100%;
  max-width: var(--max-w-page-content);
  display: flex;
  justify-content: flex-start;
  padding: 32px 12px;
  gap: 2rem;
}

.footer-logo img {
  width: 40px;
}

.footer-right {
  margin-left: 1rem;
}

.footer-links-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  max-width: 600px;
}

.footer-col a {
  line-height: 1.8rem;
  display: block;
}

#footer #disclaimer {
  margin-top: 3rem;
}

#footer h4 {
  margin-top: 0;
  text-transform: uppercase;
}

#footer a {
  color: var(--color-black-250);
  text-decoration: none;
}

#footer a:hover {
  color: white;
}

.question {
  margin-bottom: 2rem;
}

.question-title-details-box {
  display: flex;
  gap: 1.25rem;
  font-size: 13px;
}

.question-detail-label {
  color: var(--color-black-400);
}

.question-detail-value {
  margin-left: 0.5rem;
}

.question-body {
  font-size: 15px;
}

.sos-button {
  padding: 10.4px; /* don't ask */
  border-radius: var(--br-m);
  border: none;
  background-color: var(--color-blue-400);
  color: #ffffff;
  cursor: pointer;
  border: var(--color-blue-400) 2px solid;
}

.sos-button-secondary {
  background-color: transparent !important;
  color: var(--color-blue-400);
}

.hidden {
  display: none;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.answer-thread {
  padding-bottom: 2rem;
}

.answer-thread h2 {
  font-weight: normal;
  font-size: 19px;
  width: 100%;
}

.answer-thread ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.answer-thread-items li:not(:last-child) {
  border-bottom: 1px solid var(--color-black-225);
}

.answer-thread-items .content-box-main li {
  border-bottom: none;
}

.answer-thread-items .content-box-main ul {
  list-style-type: disc;
  margin-left: 2rem;
}

.answer-thread-items .content-box-main ul,
.answer-thread-items .content-box-main ol {
  margin-bottom: 1rem;
}

.answer {
  padding: 2rem 0;
}

/* Collapsable component*/
.collapsible-header {
  color: #ffffff;
  background-color: var(--color-orange-500);
  border: none;
  padding: 0.5rem 1rem;
  text-align: left;
  outline: none;
  font-size: 14px;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--br-m);
}

.collapsible-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

#ask-question-form {
  margin-top: 0.5rem;
}

#question-markdown-editor .editor-container {
  overflow-y: scroll;
}

/* wonky line height for some reason */
.editor-container pre.hljs {
  line-height: 1.5rem !important;
}

#ask-question-form-editor {
  margin-bottom: 0.5rem;
  max-height: 550px;
}

.content-box {
  padding-right: 1rem;
}

.content-box-vote {
  display: flex;
  gap: 1rem;
}

.content-box-main {
  flex-grow: 1;
}

.content-box-body {
  line-height: 1.5rem;
}

.content-box-body p {
  margin-top: 0;
}

.content-box-footer {
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
}

.content-box-footer-controls {
  color: var(--color-black-400);
}

.content-box-footer-userinfo {
  padding: 0.5rem;
  padding-top: 0;
  border-radius: var(--br-s);
  min-width: 200px;
  line-height: 1.2rem;
}

.content-box-footer-userinfo-timestamp {
  font-size: 12px;
  color: var(--color-black-400);
}

.content-box-footer-userinfo-bottom {
  display: flex;
  gap: 0.25rem;
}

.content-box-footer-userinfo-username {
  color: var(--color-blue-400);
}

.content-box-footer-userinfo-right {
  display: flex;
  flex-direction: column;
}

.content-box-footer-userinfo-userstats {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--color-black-400);
  font-size: 12px;
}

.content-box-footer-userinfo-img {
  width: 32px;
}

.replies {
  margin-left: 0 !important;
}

.reply-body {
  display: inline;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.4rem;
}

.reply-body p {
  display: inline;
}

.reply-body ol,
.reply-body ul {
  margin-top: 1rem;
}

.reply-container {
  list-style: none;
}

.reply {
  display: flex;
  gap: 0.5rem;
  margin: 0.5rem 0;
  font-size: 12px;
  color: var(--color-black-600);
}

.reply-container:not(:last-child)::after {
  content: "";
  display: block;
  margin-top: 1rem;
  border-bottom: 1px solid var(--color-black-150);
  width: 100%;
}

.reply:not(:last-child) {
  margin-bottom: 1rem;
}

.reply-controls {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.reply-user-signature {
  color: var(--color-blue-400);
  border-radius: var(--br-m);
}

.reply-user-signature.is-op {
  background-color: var(--color-blue-100);
  padding: 1px 5px;
}

.reply-timestamp {
  color: var(--color-black-300);
}

.reply-vote-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  box-shadow: none;
  background-color: transparent;
  fill: var(--color-black-225);
  cursor: pointer;
}

.reply-vote-button:hover {
  fill: var(--color-orange-500);
}

.reply-vote-button svg {
  width: 18px;
}

.reply-vote-controls {
  display: flex;
  gap: 5px;
}

.reply-vote-display {
  width: 8px;
  padding-top: 2px;
}

.add-comment-input {
  min-height: calc(3em * 1.1 + 1rem);
  max-height: none;
  font: inherit;
  overflow: auto;
  padding: 0.5rem;
  margin-left: 2rem;
  border: 1px solid var(--color-black-300);
  border-radius: var(--br-s);
  resize: vertical !important;
  font-size: 14px;
  overflow-y: auto;
  flex-grow: 1;
  flex-shrink: 1;
}

.add-comment-input::placeholder {
  white-space: normal;
  overflow-wrap: break-word;
  word-wrap: break-word; /* For older browsers */
  text-align: left;
  vertical-align: top;
}

::placeholder {
  color: var(--color-black-300);
}

/* For older browsers */
::-webkit-input-placeholder {
  color: var(--color-black-300);
}
::-moz-placeholder {
  color: var(--color-black-300);
  opacity: 1; /* Firefox sets opacity to 0.54 by default */
}
:-ms-input-placeholder {
  color: var(--color-black-300);
}
:-moz-placeholder {
  color: var(--color-black-300);
}

.user-stat::before {
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 2 24 24"><circle cx="12" cy="12" r="10" fill="black"/></svg>')
    no-repeat;
  margin-right: 5px;
}

.user-stat.gold::before {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 2 24 24"><circle cx="12" cy="12" r="10" fill="gold"/></svg>');
}

.user-stat.silver::before {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 2 24 24"><circle cx="12" cy="12" r="10" fill="silver"/></svg>');
}

.user-stat.bronze::before {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 2 24 24"><circle cx="12" cy="12" r="10" fill="peru"/></svg>');
}

.text-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  font-size: 12px;
  color: var(--color-blue-400); /* Standard link color, adjust as needed */
  text-decoration: none;
  cursor: pointer;
}

.vote-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 52px;
}

.vote-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border-color: var(--color-black-225);
  box-shadow: none;
  border-style: solid;
  background-color: transparent;
  border-width: 1px;
}

.vote-button:hover {
  background-color: var(--color-orange-200);
  cursor: pointer;
}

.vote-button svg {
  width: 18px;
  fill: var(--color-black-600);
}

.vote-display {
  text-align: center;
  margin: 0.5rem 0;
  font-weight: bold;
  font-size: 16px;
  color: var(--color-black-600);
}

.cost-notice {
  display: block;
  padding: 0.5rem;
  background-color: var(--color-orange-200);
  border-radius: var(--br-m);
  font-style: italic;
  margin-bottom: 1rem;
  font-size: 13px;
}

.add-comment-toggle .cost-notice {
  margin-left: 2rem;
  max-width: 78%;
}

.expandable-tab {
  position: fixed;
  right: 20px;
  bottom: 0px;
  width: 200px;
  height: 36px;
  background-color: var(--color-orange-500);
  text-align: center;
  color: #fff;
  border-radius: var(--br-s) var(--br-s) 0 0;
  cursor: pointer;
  /* transition: transform 0.3s ease-in, height 0.3s ease-in; */
  z-index: 1000;
}

.expandable-tab.expanded {
  height: 280px;
}

.expandable-tab.expanded .tab-content {
  border: 2px solid var(--color-orange-500);
  cursor: auto;
}

.tab-button {
  font-size: 14px;
  padding: 0.75rem;
}

.tab-content {
  background-color: var(--color-orange-200);
  color: var(--color-black-500);
  padding: 1rem;
  width: 400px;
  min-height: 400px;
  transform: translateY(100%);
}

.expandable-tab.expanded .tab-content {
  transform: translateY(0) translateX(-212px);
}

.highlight-stat {
  font-weight: bold;
  font-size: 20px;
  color: var(--color-green-400);
}

.thread-loaders {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: -1rem;
}

/* Mardown rendering tweaks */
pre.hljs {
  font-size: 13px;
  max-width: 100%;
  padding: 0.75rem;
  line-height: 1.1rem;
  max-height: 350px;
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  display: block;
}

pre code {
  background-color: transparent;
}

code {
  background-color: var(--color-black-225);
  border-radius: 3px;
  font-size: 12px;
}

/* Inline code blocks*/
:not(pre) > code {
  padding: 1px 5px;
}

/** Code copy  button */
.code-container {
  position: relative; /* Establish a positioning context for the button */
}

.code-container .copy-btn {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--color-black-400);
  border: none;
  border-radius: 3px;
  cursor: pointer;
  padding: 0.3em 0.5em;
  font-size: 0.8em;
  opacity: 0.8;
  font-size: 11px;
}

.code-container:hover .copy-btn {
  display: block;
}

/* HamburgerNav*/

.hamburger-nav {
  position: relative;
}

.hamburger-icon {
  background: none;
  margin-right: 2rem;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 24px;
  width: 30px;
  padding: 0;
  z-index: 10;
}

.hamburger-icon span {
  width: 30px;
  height: 3px;
  background-color: var(--color-black-300);
  transition: all 0.3s linear;
}

.fullscreen-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255);
  color: var(--color-black-400);
  display: flex; /* transition: opacity 0.3s ease, visibility 0.3s ease; */
  align-items: center;
  justify-content: center;
  opacity: 0.9;
  visibility: hidden;
}

.fullscreen-menu.open {
  opacity: 1;
  visibility: visible;
}

.fullscreen-menu nav ul {
  list-style-type: none;
  padding: 0;
}

.fullscreen-menu nav ul li {
  margin: 20px 0;
  text-align: center;
}

.fullscreen-menu nav ul li a {
  color: var(--color-black-400);
  font-size: 24px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.fullscreen-menu nav ul li a:hover {
  color: var(--color-black-500);
}

.close-button {
  position: absolute;
  top: 8px;
  right: 20px;
  background: none;
  border: none;
  color: var(--color-black-400);
  font-size: 46px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.close-button:hover {
  color: var(--color-black-400);
}

/* Responsive */
@media (max-width: 650px) {
  .hamburger-nav {
    display: block;
  }

  #top-nav-logo {
    display: none;
  }

  #top-nav-logo-sm {
    display: block;
  }

  #top-nav {
    height: 50px;
  }

  .top-nav-items {
    margin-left: 0.5rem;
  }

  #left-nav-container {
    display: none;
  }

  #hamburger-nav-logo {
    max-width: 250px;
  }

  #main-content-container {
    margin-left: 0;
  }

  .content-box {
    padding-right: 0;
  }
  .content-box-main {
    max-width: calc(100vw - 100px);
  }
  .content-box-footer-controls {
    display: none;
  }
  .content-box-footer-userinfo {
    padding-left: 0;
  }
  textarea::placeholder {
    font-size: 11px;
  }
  textarea.add-comment-input {
    margin-left: 0;
  }
  .add-comment-toggle .cost-notice {
    margin-left: 0;
    width: 100%;
  }

  .footer-links-grid {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .footer-col a {
    display: inline;
    margin-right: 1.5rem;
  }

  .footer-logo {
    display: none;
  }
}

/* for large displays*/

@media (min-width: 1200px) {
  #main-content-container {
    display: flex;
    justify-content: center;
  }
  #main-content {
    width: var(--max-w-main-content);
  }
}
